@media only screen and (max-width : 600px) {
    .options {
        display: none;
    }
    .store:hover > .fa {
          font-size: 15px;
      }
    .store:hover {
        font-size: 15px;
    }

    body {
        background-color: #111013;
    }

    .home_left {
        display: none;
    }

    .opt {
        display: block;
        height: auto;
        width: 100%;
        color: white;
        font-size: 8vw;
        margin-top: 5%;
        text-align: center;
        font-family: 'Comfortaa', cursive;
    }

    .menu-icn {
        display: block;
        color: white;
        font-size: 25px;
    }

    .trend_order_opts {
        height: auto;
        display: block;

    }

    .tool {
        display: block;
        padding-right: 1%;
        padding-top: 6%;
    }
    .store{
        margin-top: 20%;
        font-size: 3vw;
    }

    .opts_order {
        width: 100%;
        float: left;
        font-size: 4vw;
        margin-top: 10%;
    }

    .trend_name {
        font-size: 10vw;
    }

    .opt:hover {
        background-color: black;
    }

    .dlb_logo {
        font-size: 9vw;
        padding-top: 4%;
        width: 100%;

    }

    .trending {
        margin-top: 40%;

    }

    .navigation_container {
        height: 10%;
        overflow: hidden;
    }

    .serivces_navigation {
        display: none;
    }

    .sign_in_menu {
        display: none;
    }

    .my_menu {
        display: block;
        height: auto;
        margin-top: 30%;
        width: 100%;
        float: right;
    }

    .my_menu > a {
        text-decoration: none;
        color: white;
    }

    .close-icon {
        height: auto;
        width: 90%;
        background-color: black;
        color: white;
        padding-top: 5%;
        padding-right: 10%;
        text-align: right;
        font-size: 30px;
        display: block;
    }

    .join_button {

        font-size: 5.5vw;

    }

    .home_right {
        width: 100%;
    }

    .media_icons {
        margin-top: 35%;
    }

    .dlb-welcome-pg {
        font-size: 4vw;
    }

    .dlb-welcome {
        font-size: 8vw;
    }

    .mailing {
        font-size: 4.3vw;
        margin-top: 40%;
    }

    .mail_box {
        font-size: 3.5vw;
    }

    .menu_icon {
        display: block;
        height: 60%;
        width: auto;
        padding-top: 20px;
        font-size: 30px;
        color: white;
    }

}



.close_icon {
    height: auto;

    width: auto;
}
