/*
font-family: 'Baloo', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Varela Round', sans-serif;
font-family: 'Comfortaa', cursive;
*/

*{
    margin: 0;
}
nav{
    height: 10%;
    width: 100%;
    overflow: hidden;
    float: left;
    display: flex;
    justify-content: center;

}

header{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

html,body{
    height: 100%;
    width: 100%;
}

html,body{
    height: 100%;
}



.dlb-side {
    height: 100%;
    width: 50%;
}

.home_left {
background-color: whitesmoke;
    justify-content: space-around;
    display: flex;
}

.home_right {
    background-color: #111013;
}

.dlb-home-logo {
    height: 350px;
    width: 350px;
    margin-top: 25%;
}



.options {
    color: white;
    font-family: 'Comfortaa', cursive;

}

.options_holder {
    height: 96%;
    padding-top: 4%;
    width: 70%;
    display: flex;
    justify-content: space-around;

}



.dlb-welcome-container {
    height: 60%;
    width: 69.7%;
/*    background-color: red;*/
    padding: 15%;
    float: left;
}

.dlb-welcome {
    color: white;
    font-family: 'roboto', sans-serif;
    font-size: 3vw;
}

.dlb-welcome-pg {
    color: grey;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5vw;
    margin-top: 7%;
}

.mailing {
    color: grey;
    font-family: 'roboto', sans-serif;
    font-size: 1.5vw;
    margin-top: 15%;
}
